
input#age{
    width: 100px;
}
.form-grid {
    display: flex;
    flex-direction: column; 
}

.form-column {
    width: calc(50%-10px);
    margin-right: 20px; 
}

.form-row {
	display: flex;
    margin-top: 20px; 
}
.form-column label,
.form-column input,
.form-column select {
    display: block;
    margin-bottom: 20px;
}
;