body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #DFDFDF;
}

.container {
    width: 70%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

.backgroundBody{
	width: 70%;
	background-color: #DFDFDF;
}

h1 {
	text-align: left;
    font-size: 50px;
    margin-bottom: 40px;
    color: #000;
}

form {
    margin-bottom: 40px;
}

label {
    margin-left: 20px;
}

input, select {
	font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    margin-right:30px;
}

button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
}

.custom-button {
	font-size: 20px;
    background-color: #7297FF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.results {
    border: 1px solid #ccc;
    padding: 40px;
}

.results h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.results table {
	width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    border-radius: 5px;
}

.results .pagination {
    margin-top: 20px;
    text-align: right;
}

.results .pagination a {
    padding: 10px 20px;
    border: 1px solid #ccc;
}

.results .pagination a:hover {
    background-color: #ccc;
}

.color-th{
	background-color: #1A69C6;
	color: #fff
}

p {
	text-align: right;
}

input#ageForm,
input#ageTo {
    width: 100px;
    margin-left: 20px
}
button#add{
	float: left;
}
button#search,
#add_user,
#edit,
#delete,
#cancel{
	padding: 10px 20px;
	margin-right:10px
}

button#search{
	margin-top: 100px;
	float: right
}

button#add_user,
#add{
	margin-top: 20px;
	background-color: #36B23B;
}
button#delete{
	background-color: #FF7272;
}
button#logout{
	float:right;
}
button#insert_user{
	margin-top: 10px;
	padding: 10px 20px;
}

tr:hover {
    background-color: lightgrey;
}

.form-grid {
    display: flex;
    justify-content: space-between;
}

.form-column {
    width: calc(50% - 10px);
}

.form-column input,
.form-column select {
    width:70%
}

.form-column input#male,
.form-column input#female {
    width:5%;
    margin-right: 0px;
    margin-left: 10px;
}

.gender-radio {
    display: flex;
    align-items: center;
}

.gender-radio label {
    margin-right: 20px;
}

.fullWidth{
	width: 260%
}

.icon-button {
    background-color: transparent; 
    border: none; 
    padding: 0;
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 40px; 
    height: 40px;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
    margin-right: 10px;
}

.icon-logo {
    display: inline-block;
    width: 400px; 
    height: 100px;
    background-size: contain; 
    background-repeat: no-repeat;
    margin-right: 5px;
    background-image: url('../assets/logo 4.png');
}

.icon-logout {
    background-image: url('../assets/logout.png');
}
.icon-person {
    background-image: url('../assets/notifications_none.png');
}
.icon-noti {
    background-image: url('../assets/person_2.png');
}

.text-right{
	text-align: right;
}
;